In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
df = pd.read_csv('train_and_test2.csv')

In [5]:
# 1) How big is the data?
df.shape

(1309, 28)

In [6]:
#  2) How does the data look like?
df.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [8]:
df.sample(10)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
777,778,5.0,12.4750,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
34,35,28.0,82.1708,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1264,1265,44.0,13.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
51,52,21.0,7.8000,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
567,568,29.0,21.0750,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
74,75,32.0,56.4958,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
765,766,51.0,77.9583,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
1176,1177,36.0,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
609,610,40.0,153.4625,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
1061,1062,28.0,7.5500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [9]:
# 3) What is the data type of cols?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB

In [10]:
# 4) Are there any missing values?
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [11]:
#  5) How does the data look mathematically?
df.describe()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.905241,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.170000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000

In [12]:
#  6) Are there duplicate values?
df.duplicated().sum()

0

In [13]:
#  7) How is the correlation between cols?
df.corr()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
Passengerid,1.000000,0.025799,0.031128,-0.013406,-0.055224,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.038354,NaN,NaN,-0.051518,NaN,NaN,-0.331493
Age,0.025799,1.000000,0.178182,-0.053663,-0.189972,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.377908,NaN,NaN,-0.065125,NaN,NaN,-0.055862
Fare,0.031128,0.178182,1.000000,0.185681,0.160349,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.558683,NaN,NaN,-0.239212,NaN,NaN,0.173786
Sex,-0.013406,-0.053663,0.185681,1.000000,0.109609,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.124617,NaN,NaN,-0.099408,NaN,NaN,0.404020
sibsp,-0.055224,-0.189972,0.160349,0.109609,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.060832,NaN,NaN,0.066055,NaN,NaN,-0.014375
zero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,0.008942,-0.125851,0.221635,0.213125,0.373587,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.018322,NaN,NaN,0.045216,NaN,NaN,0.054908
zero.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pclass,-0.038354,-0.377908,-0.558683,-0.124617,0.060832,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.000000,NaN,NaN,0.187349,NaN,NaN,-0.244686
zero.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked,-0.051518,-0.065125,-0.239212,-0.099408,0.066055,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.187349,NaN,NaN,1.000000,NaN,NaN,-0.093225
zero.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zero.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2urvived,-0.331493,-0.055862,0.173786,0.404020,-0.014375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.244686,NaN,NaN,-0.093225,NaN,NaN,1.000000

In [14]:
df.corr()['2urvived']

Passengerid   -0.331493
Age           -0.055862
Fare           0.173786
Sex            0.404020
sibsp         -0.014375
zero                NaN
zero.1              NaN
zero.2              NaN
zero.3              NaN
zero.4              NaN
zero.5              NaN
zero.6              NaN
Parch          0.054908
zero.7              NaN
zero.8              NaN
zero.9              NaN
zero.10             NaN
zero.11             NaN
zero.12             NaN
zero.13             NaN
zero.14             NaN
Pclass        -0.244686
zero.15             NaN
zero.16             NaN
Embarked      -0.093225
zero.17             NaN
zero.18             NaN
2urvived       1.000000
Name: 2urvived, dtype: float64

# EDA using Univariate Analysis

In [15]:
df.sample(5)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
416,417,34.0,32.5000,1,1,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,1
762,763,20.0,7.2292,0,0,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,1
1238,1239,38.0,7.2292,1,0,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0
1151,1152,36.5,17.4000,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1032,1033,33.0,151.5500,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0